In [144]:
import math
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta

### Current Time Metrics

In [145]:
today = date.today()

In [146]:
current_year = (date.today() - relativedelta(months=1)).year

In [147]:
current_month = math.ceil(today.month)

In [148]:
current_quarter = 'Q' + str(math.ceil((today.month)/3))

### Reading Mint Transactions CSV into Dataframe

In [149]:
df = pd.read_csv('../fp-financial-automation/mint_transactions_2022.csv').astype(str)

In [150]:
df['Date'] = pd.to_datetime(df['Date'])

In [151]:
df['Amount'] = df['Amount'].astype(float)

In [152]:
df.info();
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786 entries, 0 to 785
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  786 non-null    datetime64[ns]
 1   Description           786 non-null    object
 2   Original Description  786 non-null    object
 3   Amount                786 non-null    float64
 4   Transaction Type      786 non-null    object
 5   Category              786 non-null    object
 6   Account Name          786 non-null    object
 7   Labels                786 non-null    object
 8   Notes                 786 non-null    object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 55.4+ KB

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
781,2022-01-03,Williamsburg Water & Sewer,CITY OF WILLIAMSBURG,433.06,debit,Utilities,CREDITCARD Account,Cary - Expense,nan
782,2022-01-03,Dominion Energy,DOMINION ENERGY VIRGINIA,162.20,debit,Utilities,CREDITCARD Account,Cary - Expense,nan
783,2022-01-03,DEPOSIT Joaquin Diz Joaquin Di 220103 IVRBJBKKG,ACH DEPOSIT,750.00,credit,Income,Old Rental Checking,nan,nan
784,2022-01-03,DEPOSIT Joseph Di Libert Joseph Di 220103 IG8X...,ACH DEPOSIT,580.00,credit,Income,Old Rental Checking,nan,nan
785,2022-01-02,Lisa Gross,Lisa Gross,77.25,debit,Cleaning and maintenance,Cash,Beach - Expense,venmo

In [153]:
df.loc[df['Transaction Type'] == 'credit', 'Amount'] = df['Amount'] * -1

In [154]:
df = df[df['Category'] != 'Income']

In [155]:
df = df[df['Category'] != 'Mortgage & Rent']

In [156]:
df = df[df['Category'] != 'Transfer']

In [158]:
df[df['Category'].str.contains('Check')]

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
411,2022-06-14,CHECK,CHECK,5000.0,debit,Check,Old Rental Checking,nan,nan
510,2022-05-12,CHECK,CHECK,5000.0,debit,Check,Old Rental Checking,nan,nan

In [159]:
df['Month'] = pd.PeriodIndex(df.Date, freq='M').astype(str).str[-2:]

In [160]:
df['Quarter'] = pd.PeriodIndex(df.Date, freq='Q').astype(str).str[-2:]

In [161]:
df.groupby('Category').sum(numeric_only=True).sort_values(by='Amount',ascending=False).head(20)

                              Amount
Category
Professional fees           27609.05
Repairs                     17413.14
Property Tax                14863.29
Check                       10000.00
Auto and travel              5661.61
Utilities                    4863.60
Insurance                    3982.75
Norfolk - Expense            3771.25
Other (list)                 2715.67
Supplies                     2649.69
Washington - Expense         2544.22
Cash & ATM                   2400.00
Cleaning and maintenance     2230.00
Advertising                  1665.87
Business Services             757.21
Hide from Budgets & Trends    600.00
Mobile Phone                  589.85
Gas & Fuel                    460.44
Fees & Charges                299.71
Finance Charge                287.28